
@font-face {
    font-family: yekan;
    src: url('WebFonts/fonts/woff2/IRANYekanWebMedium.woff2');
  }






.container{
    direction: rtl;
    font-family: yekan;
    max-width: 100%;
}
.section1{
    display: grid;
    width: 90%;
    grid-template-columns: auto auto;
    grid-column-gap: 5%;
    margin: 20px auto;
}
.section2{
    display: grid;
    grid-template-columns:  auto auto auto ;
    grid-auto-flow: column;
    width: 90%;
    margin: 20px auto;
}
.onvan-section2{
    text-align: center;
    
}
.onvan{
    grid-area: header;
}
.part-one{
    

}

.part-two{
    
}
.part-three{
   
}